  <widget id="museumtest" version="0.0.1">
        <name>HelloWorld</name>
        <description>
          first app
        </description>
        <author email="rodwardle@hotmail.com"">
           Rodney
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>